extends layout

block content
  div.container
    div.card.my-4
      img.card-img-top(src=application.applicationThumbnail alt="サムネイル")
      div.card-body
        h5.card-title #{application.applicationName}
        p.card-text #{application.applicationDescription}
      ul.list-group.list-group-flush
        li.list-group-item 
          i.bi.bi-person-square 
          a.card-link.text-reset.text-decoration-none(href=`/users/${application.user.userName}`) #{application.user.displayName || application.user.userName}
        li.list-group-item 
          i.bi.bi-code-square 
          a.card-link.text-reset.text-decoration-none(href=application.applicationRepository) #{application.applicationRepository}
        li.list-group-item 
          i.bi.bi-arrow-up-right-square 
          a.card-link.text-reset.text-decoration-none(href=application.applicationUrl) #{application.applicationUrl}
      if user && (user.userId == application.user.userId || user.isAdmin)
        div.card-body
          a.btn.btn-primary(href=`/applications/${application.applicationId}/edit`) 編集

    if user
      div.my-4
        form(method="post" action=`/applications/${application.applicationId}/comments`)
          input(type="hidden" name="_csrf" value!=csrfToken)
          div.mb-3
            label.form-label(for="comment") コメント
            textarea#comment.form-control(type="text" name="comment" rows="5" maxlength="200" aria-describedby="comment-help" required)
            div#comment-help.form-text 200 字以内で入力してください。
          button.btn.btn-primary.mr(type="submit") 投稿

    div.my-4
      if comments.length
        each comment in comments
          div.card.mb-3
            div.card-header
              i.bi.bi-github(data-admin=comment.user.isAdmin) 
              a.text-reset.text-decoration-none(href=`https://github.com/${comment.user.userName}`) #{comment.user.userName} 
              if comment.user.isAdmin
                span.badge.rounded-pill.bg-secondary 管理者
              if comment.user.userId == application.user.userId
                span.badge.rounded-pill.bg-primary.ms-1 投稿者
            div.card-body
              p.card-text #{comment.comment}
              if user && (user.userId == comment.userId || user.isAdmin)
                form(method="post" action=`/applications/${application.applicationId}/comments/${comment.commentId}/delete`)
                  input(type="hidden" name="_csrf" value!=csrfToken)
                  button.btn.btn-danger(type="submit") 削除
            div.card-footer.text-muted.d-inline #{comment.formattedCreatedAt}