extends layout

block content
  div.bg-light.p-3.p-sm-5.mb-4.border-top
    div.container
      h1.display-4 編集・削除
      p.lead アプリの紹介ページを編集・削除します。
      if errors
        hr.my-4
        //- p.text-danger
        ul
          each error in errors
            li #{error.param}: #{error.msg}
  div.container.my-2
    //- multipart/form-data では _csrf をクエリ文字列として送信する
    form(method="post" action=`/applications/${application.applicationId}/edit?_csrf=${csrfToken}` enctype="multipart/form-data")
      div.mb-3
        label.form-label(for="thumbnail") アプリのサムネイル
        input#thumbnail.form-control(type="file" name="thumbnail" accept="image/*" aria-describedby="thumbnail-help" required)
        div#thumbnail-help.form-text 推奨するアスペクト比は 16:9 です。1MB 以下の画像ファイルを添付してください。
      div.mb-3
        label.form-label(for="url") アプリの URL
        input#url.form-control(type="url" name="url" maxlength="100" value=application.applicationUrl placeholder="100 字以内で入力してください" required)
      div.mb-3
        label.form-label(for="repository") GitHub リポジトリ
        input#repository.form-control(type="url" name="repository" maxlength="100" value=application.applicationRepository placeholder="100 字以内で入力してください" required)
      div.mb-3
        label.form-label(for="name") アプリの名前
        input#name.form-control(type="text" name="name" maxlength="100" value=application.applicationName placeholder="100 字以内で入力してください" required)
      div.mb-3
        label.form-label(for="description") アプリの説明
        textarea#description.form-control(name="description" rows="5" maxlength="1000" placeholder="1000 字以内で入力してください" required) #{application.applicationDescription}
      button.btn.btn-primary.mr(type="submit") 公開

    h2.mt-4 ページを削除する
    p 削除したページはもとに戻せません。
    form.mt-2(method="post" action=`/applications/${application.applicationId}/delete`)
      input(type="hidden" name="_csrf" value!=csrfToken)
      button.btn.btn-danger(type="submit") 削除