extends layout

block content
  div.bg-light.p-3.p-sm-5.mb-4.border-top
    div.container
      h1.display-4 WEBAPPS
      p.lead WEBAPPS は作成した Web アプリケーションを紹介できるポートフォリオサービスです。
      if user
        hr.my-4
        p ぜひあなたのアプリを紹介してください！
        a.btn.btn-primary.btn-lg(href="/applications/new" role="button") アプリを紹介する
  div.container.mt-2
    if applications.length
      h1 作品一覧
      p 現在 #{applications.length} つのアプリが登録されています。
        div.row.row-cols-1.row-cols-lg-2.g-4
          each application in applications
            div.col
              div.card.h-100
                img.card-img-top(src=application.applicationThumbnail alt="サムネイル")
                div.card-body
                  h5.card-title #{application.applicationName}
                  p.card-text #{application.applicationDescription}
                  a.btn.btn-primary(href=`/applications/${application.applicationId}`) 詳細表示
                div.card-footer
                  i.bi.bi-github 
                  a.card-link.text-reset.text-decoration-none(href=`https://github.com/${application.user.userName}`) #{application.user.userName} 
                  if application.user.isAdmin
                    span.badge.rounded-pill.bg-secondary 管理者
                //- div.card-footer
                //-   small.text-muted #{application.formattedCpdatedAt}
    else
      h1 まだ作品はありません